.git
.local-sso
.claude
certs
.gitignore
.dockerignore

node_modules
**/node_modules
**/dist

.env
**/.env
**/.env*
**/*.env*
**/*.sqlite
**/*.sqlite-*
**/data
**/logs
**/.auth-debug

docs
copilot-api-tool
emu-self-sso
gh-auto-login
